<header>
  <!-- <img style="width: 50%" src="assets/MeditatingDoodle.svg"> -->
  <div class="mat-headline-3">Videos</div>
  <div class="mat-headline-5">– stay updated –</div>
</header>

<div class="grid" *ngIf="videos.length > 0">
  <mat-card class="grid-anim" *ngFor="let item of videos" [routerLink]="item.resourceId.videoId">

    <mat-card-header>
      <div mat-card-avatar><mat-icon>waves</mat-icon></div>
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>{{item.description | slice:0:50 }}...</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="item.title !== 'Private video' ? item.thumbnails.high.url : ''">

    <mat-card-actions>
      <button mat-raised-button>let's go</button>
    </mat-card-actions>

  </mat-card>
</div>